In [19]:
import pandas as pd
import numpy as np
list1=['a','b','c']
data=np.array(list1)
s=pd.Series(data)
print("representation in numpy\n",data)
print("representation in pandas")
print(s)

representation in numpy
 ['a' 'b' 'c']
representation in pandas
0    a
1    b
2    c
dtype: object

In [22]:
import pandas as pd
import numpy as np
list1=['a','b','c']
data=np.array(list1)
s=pd.Series(data,index=[100,101,102])
print("representation in numpy\n",data)
print("representation in pandas")
print(s)

representation in numpy
 ['a' 'b' 'c']
representation in pandas
100    a
101    b
102    c
dtype: object

In [25]:
import pandas as pd
data={'a':0,'b':1}
s=pd.Series(data)
print(s)

a    0
b    1
dtype: int64

In [1]:
import pandas as pd
data={'a':0,'b':1}
s=pd.Series(data,index=['a','d','b'])
print("idex values")
print(s)

idex values
a    0.0
d    NaN
b    1.0
dtype: float64

In [2]:
import pandas as pd 
s=pd.Series(5,index=[0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [4]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [9]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[-3:])
print(s[3:])
print(s[2:5:2])

c    3
d    4
e    5
dtype: int64
d    4
e    5
dtype: int64
c    3
e    5
dtype: int64

In [14]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s['a'],s['b'])
ans=(s['a']*s['c'])
print(ans)

1 2
3

<h1>DATA FRAME<h1>

In [17]:
import pandas as pd
data=[["Pratik",20],["Ritik",11],["Ritvik",10],["Dhruv",8]]
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0  Pratik   20
1   Ritik   11
2  Ritvik   10
3   Dhruv    8

In [19]:
import pandas as pd
data=[["Pratik",20],["Ritik",11],["Ritvik",10],["Dhruv",8]]
df=pd.DataFrame(data,dtype=float)
print(df)

        0     1
0  Pratik  20.0
1   Ritik  11.0
2  Ritvik  10.0
3   Dhruv   8.0

C:\Users\prati\AppData\Local\Temp\ipykernel_17140\1952370857.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df=pd.DataFrame(data,dtype=float)

In [22]:
import pandas as pd
data={'Name':['Tom','Jerry','Bob'],'Age':['10','8','10']}
df=pd.DataFrame(data)
print(df)

    Name Age
0    Tom  10
1  Jerry   8
2    Bob  10

<h1>Create A DataFrame From List and Dicts</h1>

In [24]:
import pandas as pd
data=[{'a':10,'b':20},{'a':2,'b':3,'c':6}]
df=pd.DataFrame(data)
print(df)

[{'a': 10, 'b': 20}, {'a': 2, 'b': 3, 'c': 6}]
    a   b    c
0  10  20  NaN
1   2   3  6.0

In [30]:
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [31]:
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [35]:
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)
print("-----------------------x-------------------------")
print("adding new column")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("-----------------------x-------------------------")
print('addition of columns')
df['four']=df['one']+df['three']
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
-----------------------x-------------------------
adding new column
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
-----------------------x-------------------------
addition of columns
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [38]:
import pandas as pd
data={'one':pd.Series([1,2,3],index=['a','b','c']),
     'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(data)
print(df)
print("-----------------------x-------------------------")
print("adding new column")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)
print("-----------------------x-------------------------")
print('deleting of columns')
del df['three']
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
-----------------------x-------------------------
adding new column
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
-----------------------x-------------------------
deleting of columns
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [39]:
import pandas as pd
df=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df2=pd.DataFrame([[1,2],[3,4]],columns=['a','b'])
df=df.append(df2)
print(df)
df=df.drop(0)
print(df)

   a  b
0  1  2
1  3  4
0  1  2
1  3  4
   a  b
1  3  4
1  3  4

C:\Users\prati\AppData\Local\Temp\ipykernel_17140\3562446906.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df2)